<div id="home-page-container">

    <div id="register-facebookFriends-link">
        <span ng-class="{'active': registerFormActive}" ng-click="registerFormActive = true; findFriendsActive = false">Register</span>
        <span ng-class="{'active': findFriendsActive}"    ng-click="registerFormActive = false; findFriendsActive = true">Find Friends</span>
    </div>

    <div class="form-container" ng-show="registerFormActive">

        <registration-form> </registration-form>

    </div>

    <div class="form-container" ng-show="findFriendsActive">

        <facebook-friends-on-audiosplitter ></facebook-friends-on-audiosplitter>

    </div>

</div>