<form id="login-form" name="loginForm" ng-submit="formSubmit(loginForm.$valid )" novalidate>

    <div class="form-input-container">
        <p class="input-label">Username (E-mail)</p>
        <input type="email" name="username" ng-model="loginUser.username" ng-minlength="5" ng-maxlength="50" required />

        <p class="form-error"
           ng-show="loginForm.username.$invalid &&
                    loginForm.username.$touched">
            Valid email address is required
        </p>

    </div>

    <div class="form-input-container">
        <p class="input-label">Password</p>
        <input type="password" name="password" ng-model="loginUser.password" ng-minlength="7" ng-maxlength="15" required/>

        <p class="form-error"
           ng-show="loginForm.password.$error.minlength &&
                    loginForm.password.$touched">
            Password is too short
        </p>
        <p class="form-error"
           ng-show="loginForm.password.$error.maxlength &&
                    loginForm.password.$touched">
            Password is too long
        </p>

    </div>

    <button class="form-button" type="submit" ng-disabled="!loginForm.$valid">Login</button>

</form>
