<form ng-submit="findFriends()" name="findFriendsForm" novalidate>

    <div class="form-input-container">
        <p class="input-label">Username (E-mail)</p>
        <input type="email" name="username" ng-model="searchUser" ng-minlength="5" ng-maxlength="50" required/>
        <button class="form-button" type="submit" ng-disabled="findFriendsForm.$invalid">Find Facebook Friends</button>
    </div>

</form>

<div id="facebook-friends-container" ng-show="facebookFriends.length > 0">
    <!-- Consider making the friend output two columns - opportunity to show responsiveness -->

    <div class="facebook-friend-container" ng-repeat="facebookFriend in facebookFriends">
        <div class="facebook-friend-image-container">
            <img src="http://img4.wikia.nocookie.net/__cb20101015151246/muppet/images/0/05/Beaker.jpg" />
        </div>

        <div class="facebook-friend-information-container">
            <span class="facebook-friend-name">{{facebookFriend.username}}</span>
            <span class="facebook-friend-artist">Favourite Artist: {{facebookFriend.favouriteArtist}}</span>
        </div>

    </div>

</div>
