
<!--Confirm why we need the novalidate-->
<form id="registration-form" name="registerForm" ng-submit="formSubmit(registerForm.$valid )" novalidate>

    <div class="form-input-container">
        <p class="input-label">Username (E-mail)</p>
        <input type="email" name="username" ng-model="newUser.username" ng-minlength="5" ng-maxlength="50" required />

        <p class="form-error" ng-show="registerForm.username.$invalid && registerForm.username.$touched">
            Valid user email is required
        </p>
    </div>

    <div class="form-input-container">
        <p class="input-label">Password</p>
        <input type="password" name="password" ng-model="newUser.password" ng-minlength="7" ng-maxlength="15" required/>

        <p class="form-error" ng-show="registerForm.password.$error.minlength && registerForm.password.$touched ">
            Password is too short
        </p>
        <p class="form-error" ng-show="registerForm.password.$error.maxlength && registerForm.password.$touched ">
            Password is too long
        </p>

    </div>

    <div class="form-input-container">
        <p class="input-label">Confirm Password</p>
        <input type="password" name="password_confirmation" ng-model="newUser.password_confirmation" required/>

        <p class="form-error" ng-show="registerForm.password_confirmation.$touched && !passwordsMatch()">
            Passwords must be the same
        </p>
    </div>

    <div class="submit-button-container">
        <button class="form-button" type="submit" ng-disabled="registerForm.$invalid || !passwordsMatch()">Register</button>
        <p class="form-primary-error form-error" ng-show="registrationError" >{{registrationError}}</p>
    </div>

</form>